<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--DB Configuration-->
    <add key="ConnectionString" value="Data Source=10.1.12.121;Initial Catalog=QA2_MG2_SI;User Id=sqlappuser;Password=$QL@ppus3r"/>

    <!--Notification Service Name-->
    <add key="WindowsServiceName" value="Activity Push Notification"/>

    <!--Notification Related Values-->
    <add key="ServerKey" value="AAAA2mr8_4U:APA91bGrGT839c1dwjT_uDFwWeAFrLsdSbAAh3hgtBJmsQZIiwMkwzzIyN7Yy1_yFEJmI4b_4B2QDhAUGFu0HFfpOLhtiiCjhCHHmZuzVJgegFC6gHevOigoYnkUauKoBqEuUisRRNJa"/>
    <add key="NotificationURL" value="https://fcm.googleapis.com/fcm/send"/>
    <add key="TimerInterval" value="6000"/>
    <!--6 sec Interval-->
    <add key="ActivityType" value="Shortlist Notification"/>
    <add key="IsGeneral" value="false"/>
  </appSettings>
</configuration>